* {
  /* display: flex; */
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

body {
  align-content: center;
  height: 100vh;
  font-family: sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
  margin: 0px 2px;
}

button:hover {
  background-color: #79a8a9;
  color: #fff;
  cursor: pointer;
}

.task-board-name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

.task-board-description {
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
}

.task-board-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  font-weight: bold;
  border-radius: 8px;
  padding: 16px;
  margin-top: 24px;
  margin: 16px auto;
  max-width: 600px;
}

.task-in-progress {
  background-color: #f5d565;
}

.task-completed {
  background-color: #a0ecb1;
}

.task-wont-do {
  background-color: #f7d4d3;
}

.task-todo {
  background-color: #e3e8ef;
}

.task-add-new {
  background-color: #f5e8d5;
  border: 2px solid #f5e8d5;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}